html,
  body {
    height: 100%;
  }

body {
  /*display: flex;
  flex-direction: column;*/
  background-color: #fff;
  margin: 0 40px 0 40px;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 0.9em;
  background-image: url("images/new_year_background.png");
}

header {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  color: #fff;
  background-color: rgba(61, 100, 158, .7);
}

h1 {
  font-size: 6em;
  align-self: center;
}
h2 {
  align-self: center;
  margin-top: -20px;
  font-size: 250%;
}

main {
  display: flex;
  flex: 1 100%;
}

.pic-container {
  display: flex;
  flex-direction: column;
}
.frankie-pics {
  width: 400px;
  height: 400px;
  margin: 20px 0 20px 2px;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 40px;
}

.frankie-text {
  font-size: 1.75em;
  margin-bottom: 20px;
}
h3 {

  font-size: 2em;
  align-self: center;
}
#who {
  margin-top: 40px;
}
#what {
  margin-top: 180px;
}
#when {
  margin-top: 140px;
}
#text2 {

}
#text3 {

}

footer {
  flex: 0 0 30px;
  padding: 10px;
  color: #fff;
  background-color: rgba(61, 100, 158, .9);
}
.content {
  border: 2px solid yellow;
}
